:root {
    --body-color: #1A191D;
    --white-900: #FFFFFF;
    --white-800: #B1B1B1;
    --black-900: #252328;
    --text: #009EFF;
    --btn-hover: #0048bd;
    --btn: #0058E6;
    --main-fonts: 'Heebo';
    --text-font: 'Open Sans';
}
.counter{
    font-size: 55px;
    color: var(--white-900);
    font-family: var(--main-fonts);
    font-weight: 900;
}
.counters {
    background-color: #0f479a;
    color: white;
    padding: 40px 20px;
    border-top: 3px solid lightskyblue;
}

.counters .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
}

.counters i {
    color: lightskyblue;
    margin-bottom: 5px;
}

.counters .counter {
    font-size: 45px;
    margin: 10px 0;
}

@media (max-width: 700px) {
    .counters .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .counters .container > div:nth-of-type(1),
    .counters .container > div:nth-of-type(2) {
        border-bottom: 1px solid lightskyblue;
        padding-bottom: 20px;
    }
}